<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.kirohuji.OrderManagerSystem.entity.dao.ItemMapper" >
  <resultMap id="BaseResultMap" type="team.kirohuji.OrderManagerSystem.entity.Item" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="i_id" property="iId" jdbcType="VARCHAR" />
    <result column="item_cart_id" property="itemCartId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, status, number, goods_id, i_id, item_cart_id
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.kirohuji.OrderManagerSystem.entity.Item" >
    insert into item (id, status, number, 
      goods_id, i_id, item_cart_id
      )
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{iId,jdbcType=VARCHAR}, #{itemCartId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateById" parameterType="team.kirohuji.OrderManagerSystem.entity.Item" >
    update item
    set status = #{status,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      i_id = #{iId,jdbcType=VARCHAR},
      item_cart_id = #{itemCartId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>